// font weight
$font-w-500: 5000;
$font-w-700: 700;

// font family
$font-fam: "Epilogue", sans-serif;

// colors
$color-white: hsl(0, 0%, 98%);
$color-medium-gray: hsl(0, 0%, 41%);
$color-black: hsl(0, 0%, 8%);
